{{ define "main" }}
    <div class="container-fluid">
        <img src="/images/{{ .Params.hdrImage }}" class="img-fluid w-100" />
    </div>
    <div class="container col-xxl-10 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <table class="table">
                    <tbody>
                        <tr>
                            <td class="text-center">
                                552 members on Parent Support Groups
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                1,262 anganwadis supported
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                More than 10,500 children and their families
                                served
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                64,885 intervention sessions conducted
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                193 workshops and webinars organised since 2019
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                6,402 participants reached
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-6">
                <p class="lead">{{ .Content }}</p>
            </div>
        </div>
    </div>
    <div class="container py-5 my-5">
        <div class="row">
            <div class="col text-center">
                <h2 class="pb-5">Our Approach</h2>
            </div>
        </div>
        <div class="row">
            {{ range where .Site.RegularPages "Type" "feature" }}
                <div class="col feature">
                    <h2 class="text-center mb-3">{{ .Title }}</h2>
                    {{ .Content }}
                </div>
            {{ end }}
        </div>
    </div>
    <div class="container py-5 my-5">
        {{ partial "reviews.html" . }}
    </div>
    <div class="container pt-5">
        <h2 class="text-center pb-5">Our Partners</h2>
        {{ partial "supporters.html" }}
    </div>
{{ end }}
