{{ define "main" }}
    <div class="container-fluid">
        <img src="/images/{{ .Params.hdrImage }}" class="img-fluid w-100" />
    </div>
    <div class="container col-xxl-10 px-4">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img
                    src="images/sethu-stats.png"
                    class="img-fluid w-100 rounded-5" />
            </div>
            <div class="col-lg-6">
                <p class="lead">{{ .Content }}</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                {{ partial "video.html" (dict "src" "https://sethu-video.s3.ap-south-1.amazonaws.com/Sethu-HomePage-Video.mp4" "autoplay" "autoplay" "width" "100%") }}
            </div>
        </div>
    </div>
    <div class="container py-5 my-5">
        <div class="row">
            <div class="col text-center">
                <h2 class="pb-5">Our Approach</h2>
            </div>
        </div>
        <div class="row">
            {{ range where .Site.RegularPages "Type" "feature" }}
                <div class="col feature">
                    <h2 class="text-center mb-3">{{ .Title }}</h2>
                    {{ .Content }}
                </div>
            {{ end }}
        </div>
    </div>
    <div class="container py-5 my-5">
        {{ partial "reviews.html" . }}
    </div>
    <div class="container pt-5">
        <h2 class="text-center pb-5">Our Partners</h2>
        {{ partial "supporters.html" }}
    </div>
{{ end }}
