{{ define "main" }}
    {{ with .Params.hdrImage }}
        <div class="container-fluid mb-5">
            <img src="/images/{{ . }}" class="img-responsive w-100" />
        </div>
    {{ end }}
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h1 class="mb-5">{{ .Title }}</h1>
            </div>
        </div>
        <div class="row py-5">
            <div class="col-lg-8 offset-lg-2">
                <h3>Our Handouts</h3>
                <div class="row">
                    {{ range sort site.Data.handouts.handouts ".title" }}
                        <div class="col-lg-4 pb-5 pt-5">
                            <a href="/pdf/handouts/{{ .pdf }}" target="_blank">
                                <h6>{{ .title }}</h6>
                                <img
                                    src="/images/handouts/{{- .thumb }}"
                                    class="img-fluid w-100 border p-2"
                                    alt="{{- .title }}" />
                            </a>
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
        <div class="row py-5">
            <div class="col-lg-8 offset-lg-2">
                <h3>Media Mentions</h3>
                <div class="row">
                    {{ range sort site.Data.media.mentions }}
                        <div class="col-lg-4 pb-5 pt-5">
                            <a href="/images/media/{{- .image }}" target="_blank">
                                <h6 style="display: block; height: 4rem;">{{ .title }}
                                    <br />
                                    <span class="small">{{ .ref }}</span>
                                </h6>
                                <img
                                    src="/images/media/thumbs/{{- .image }}"
                                    class="img-fluid w-100 border p-2"
                                    alt="{{- .title }}" />
                            </a>
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
{{ end }}
