{{ define "main" }}
    <p>
        Thank you for your generous donation of
        {{ .Currency }}
        {{ .Amount }}
        towards 'Buy a Brick for Sethu's Inclusive New Building'. Every
        contribution brings us closer to the dream of our very own
        state-of-the-art child development centre, where all children can
        receive the support and acceptance to grow to their full potential,
        despite any challenges they face. A bridge of hope in Goa, that will be
        an inspiration for the world.
    </p>
    <p>
        Your partnership fuels our mission to create an inclusive world for our
        children, filled with cheerleaders who celebrate their strengths and
        take action to give them the opportunities they deserve to shine. It is
        a huge task, which appears challenging at times. However, together with
        people like you, who bring love, joy and determination to the cause, it
        is possible.
    </p>
    <p>
        {{ with .Notes.PAN }}
            We have your PAN as {{ .Notes.PAN }} and we will send you the
            documents required to avail of tax benefits shortly. If this is not
            the correct PAN, write to us at
            <a href="mailto:reachus@sethu.in">this email</a> with the correct
            PAN.
        {{ else }}
            In order to help you avail of tax benefits, kindly share your PAN
            details with us.
        {{ end }}
    </p>
    <p>
        Thank you again for being a vital part of our journey. Together, we are
        fostering a more inclusive and supportive community. Celebrating
        Neurodiversity. Empowering Inclusion!
    </p>
    <p>With heartfelt gratitude,</p>
{{ end }}
