body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(249, 249, 251) !important;
    color: #3e3e3e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
    color: #9a191b;
    border-bottom: 1px solid #fbdb31;
}

.colored {
    color: #9a191b;
}

.dropdown-menu {
    --bs-dropdown-min-width: 13rem;
}

ul {
    list-style: none;
}

ul li {
    padding-bottom: 0.5rem;
}

a {
    text-decoration: none;
    color: #9a191b;
}

.menu-entry {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #9a191b;
    font-size: 1.1rem;
}

.feature p:first-of-type {
    font-size: 1.2rem;
    color: #9a191b;
}

.list-group {
    --bs-list-group-bg: var(--bs-body-bg): rgb(249, 249, 251) !important;
}
