{{ define "main" }}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="row">
                    <h1 class="mb-5">Team</h1>
                    <p class="mb-5">
                        Our highly qualified, committed, multi-disciplinary team
                        provides award-winning services to neurodevelopmentally
                        disabled children and their families, anganwadi workers
                        at the government’s Integrated Child Development
                        Services as well as teachers and students in private
                        schools. The team has grown to 35 professionals from a
                        variety of disciplines and continues to expand, as the
                        demand for services increases.
                    </p>
                    {{ range site.Data.team.members }}
                        <div class="col-lg-4 mb-5">
                            <div class="p-3 border">
                                <h5 class="lead text-center pb-2">
                                    {{ .name }}
                                </h5>
                                {{ with partial "scaledImage" (dict "file" (printf "%s/%s" site.Params.images.team .img) "w" 320 "h" 320) }}
                                    <img
                                        src="{{ .RelPermalink }}"
                                        class="img-responsive w-100 mb-3" />
                                {{ end }}
                                <h6 class="text-center" style="height: 3rem;">
                                    {{ .designation }}
                                </h6>
                            </div>
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
{{ end }}
