{{ define "build-our-bridge" }}
    <p>Thank you for walking this incredible path with us.</p>
    <p>
        Your gift brings us closer to a space where every child is seen,
        nurtured, and celebrated. With your support, we’re building Goa’s first
        inclusive centre for child development—a place where families feel at
        home, professionals can thrive, and neurodiversity is embraced in its
        fullest sense. We’re deeply grateful to have you with us on this journey
        of hope.
    </p>
    <p>
        If you’d like to contribute again in the future and like a gentle
        reminder, just let us know how often.
    </p>
{{ end }}
