{{ define "cheer-for-children" }}
    <p>Thank you for choosing to cheer for children.</p>
    <p>
        Your support lifts up children who simply need that extra boost to
        shine. Thanks to your generosity, we can offer highly subsidised
        services and stand by our vision: a world where every child is nurtured
        and celebrated. We're honoured to have your belief and backing.
    </p>
    <p>
        If you’d like to contribute again in the future and like a gentle
        reminder, just let us know how often.
    </p>
{{ end }}
