{{ define "build-our-bridge" }}
    <img
        src="/sethupay/assets/images/email-2.png"
        class="m-2 img-fluid w-100" />
    <p>Thank you {{ .Notes.Name }} for walking this incredible path with us.</p>
    <p>
        We have received your donation of {{ .Currency }} {{ .AmountINR }}. Your
        gift brings us closer to Goa’s first inclusive centre of excellence in
        child development and family-centred care—a space where children are
        celebrated, families feel at home, and neurodiversity is embraced.
    </p>
    {{ template "payment-details" . }}
    <p>
        If you’d like to contribute again in the future and like a gentle
        reminder, just let us know how often, by writing to us at
        <a href="mailto:reachus@sethu.in">this email</a>
    </p>
{{ end }}
