{{ define "cheer-for-children" }}
    <img
        src="/sethupay/assets/images/email-1.png"
        class="m-2 img-fluid w-100" />
    <p>Thank you {{ .Notes.Name }} for choosing to cheer for children.</p>
    <p>
        We have received your donation of {{ .Currency }} {{ .AmountINR }}. Your
        support brings hope—and helps every child reach their potential. With
        you by our side, we can keep care within reach for those who need it
        most and keep offering highly subsidised services and quality care to
        every child who needs it.
    </p>
    {{ template "payment-details" . }}
    <p>
        If you’d like to contribute again in the future and like a gentle
        reminder, just let us know how often, by writing to us at
        <a href="mailto:reachus@sethu.in">this email</a>
    </p>
{{ end }}
