{{ define "cheer-for-children" }}
    <p>Thank you {{ .Notes.Name }} for choosing to cheer for children.</p>
    <p>
        We have received your donation of {{ .Currency }} {{ .AmountINR }}. Your
        support lifts up children who simply need that extra boost to shine.
        Thanks to your generosity, we can offer highly subsidised services and
        stand by our vision: a world where every child is nurtured and
        celebrated. We're honoured to have your belief and backing.
    </p>
    {{ template "payment-details" . }}
    <p>
        If you’d like to contribute again in the future and like a gentle
        reminder, just let us know how often, by writing to us at
        <a href="mailto:reachus@sethu.in">this email</a>
    </p>
{{ end }}
