{{ define "build-our-bridge" }}
    <p>Thank you {{ .Notes.Name }} for walking this incredible path with us.</p>
    <p>
        We have received your donation of {{ .Currency }} {{ .Amount }}. Your
        gift brings us closer to a space where every child is seen, nurtured,
        and celebrated. With your support, we’re building Goa’s first inclusive
        centre for child development—a place where families feel at home,
        professionals can thrive, and neurodiversity is embraced in its fullest
        sense. We’re deeply grateful to have you with us on this journey of
        hope.
    </p>
    {{ template "payment-details" . }}
    <p>
        If you’d like to contribute again in the future and like a gentle
        reminder, just let us know how often, by writing to us at
        <a href="mailto:reachus@sethu.in">this email</a>
    </p>
{{ end }}
