<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<form
    class="fira-sans-regular border-start ps-5"
    id="donate"
    data-order-url="{{ site.Params.orderURL }}">
    <div class="row mb-3">
        <div class="col-lg-12">
            <label for="name" class="form-label">Full Name</label>
            <input
                required
                type="text"
                name="name"
                class="form-control"
                id="name" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-12">
            <label for="email" class="form-label">Email</label>
            <input
                required
                type="email"
                name="email"
                class="form-control"
                id="email" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-12">
            <label for="amount" class="form-label">Amount in INR</label>
            <input
                required
                type="number"
                name="amount"
                class="form-control"
                id="amount" />
        </div>
    </div>
    <button
        type="submit"
        class="btn btn-primary mt-5"
        data-project="{{ .Title }}"
        data-pay-key="{{ site.Params.rkey }}"
        id="pay-now">
        {{ .Title }} Now!
    </button>
</form>
