<div class="container mt-5">
    <div class="row">
        <hr />
        <div class="row mt-5">
            {{ range where .Site.RegularPages "Section" "footer" }}
                <div class="col">
                    <h4>{{ .Title }}</h4>
                    {{ .Content }}
                    {{ with .Params.hdrImage }}
                        <img src="{{ . }}" class="img-fluid w-100 mt-2" />
                    {{ end }}
                </div>
            {{ end }}
            <hr />
        </div>
        <p>Copyright {{ now.Year }}. All rights reserved.</p>
    </div>
</div>
